# Requirements file to create a minimal virtual environment for the project
# Add libraries and specific versions here as needed
# See here for more advanced usage https://caremad.io/posts/2013/07/setup-vs-requirement/
pip
virtualenv
pytest
setuptools